{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron mt-3 text-center">
<h1 class="display-4">Cieeee, Lagi Ngaca</h1>
<p class="lead">
  <img style="border-radius:20px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSMJj-B2mZQeEjPFQ3CPtAGrlMqKk5vFUZL55S6Bow8l_y5xufc" alt="">
</p>
{% if session.logged_in == NULL %}
  <a href="/register" class="btn btn-primary btn-lg">Register</a>
  <a href="/login" class="btn btn-success btn-lg">Login</a>
{% endif %}
</div>
{% endblock %}
